.body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(201, 163, 236),
    #ffedbca8
  );
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.navBar {
  background-color: beige;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: larger;
}
a {
  text-decoration: none;
}
h1 {
  color: black;
}
.converter {
  padding: 20px;
  border: 1px solid black;
}
